<nav class="bg-slate-600 py-3">
  <div class="flex items-center gap-3 px-2">
    <a
      class="text-[20px] leading-[30px] text-[#fff] font-normal no-underline"
      href="#"
      >Navbar</a
    >
    <button
      class=""
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class=""></span>
    </button>
    <div class="flex" id="">
      <div class="space-x-5 font-normal">
        <a class="no-underline text-[#fff]" href="/">Dashboard</a>
        <a class="no-underline text-[#fff]" href="Products">Products</a>
      </div>
    </div>
  </div>
</nav>
